<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmh.secondHandTrading.mapper.UserMapper">
    <select id="selectAllInformation" parameterType="string"  resultType="com.zmh.secondHandTrading.entity.pojo.Userinfo" >
        select *
        from userinfo
        where user_Id = #{userId}
        limit 1;
	</select>

    <select id="serachIdcard" parameterType="string"  resultType="String" >
        select id_card
        from userinfo
        where id_card = #{idcard}
        limit 1;
    </select>


    <update id="updateUserinfo" parameterType="map">
        UPDATE userinfo
        <set>
            <if test="real_name!=null and real_name!=''">real_name= #{real_name},</if>
            <if test="id_card!=null and id_card!=''">id_card= #{id_card},</if>
            <if test="student_id!=null and student_id!=''">sstudent_id= #{student_id},</if>
            <if test="user_name!=null and user_name!=''">user_name= #{user_name},</if>
            <if test="signature!=null and signature!=''">signature=#{signature},</if>
            <if test="head_portrait!=null and head_portrait!=''">head_portrait= #{head_portrait},</if>
        </set>
        WHERE user_id=#{id}
    </update>

    <update id="updateAccount" parameterType="map">
        UPDATE account
        <set>
            <if test="password!=null and password!=''">password= #{password},</if>
            <if test="email!=null and email!=''">email= #{email},</if>
            <if test="status!=null and status!=''">status= #{status},</if>
            <if test="power!=null and power!=''">power= #{power},</if>
        </set>
        WHERE user_id=#{id}
    </update>

</mapper>